.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
}

.featuredPost{
    display: flex;
    flex-direction: column;
}

.featuredPost .type{
    font-weight: 400;
    font-size: 32px;
    color: #73778C;
    margin-bottom: 20px;
}

.featuredPost .wrapperContent{
    width: 1500px;
    height: 500px;
    background-color: #FFFFFF;
    border: 1px solid #ABAEBA;
    border-radius: 10px;
}

.featuredPost .content{
    display: flex;
    justify-content: space-between;
}

.featuredPost .wrapperTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    margin-left: 32px;
    margin-right: 32px;
}

.featuredPost .title{
    max-width: 5000px;
    font-weight: 400;
    font-size: 70px;
    color: #000;
}

.featuredPost .date{
    font-weight: 400;
    font-size: 16px;
    color: #73778C;
}

.featuredPost .imageContent img{
    width: 820px;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.recentPost{
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 1500px;
    margin-top: 127px;
    margin-bottom: 190px;
}

.recentPost .type{
    display: flex;
    justify-content: space-between;
}

.typeRecentPost{
    font-weight: 400;
    font-size: 32px;
    color: #73778C;
}

.seeAll{
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
}

.recentPost ul{
    display: flex;
    gap: 75px;
    justify-content: space-between;
}

.listPost .link{
    display: flex;
    flex-direction: column;
    width: 317px;
    height: 485px;
    border: 1px solid #C7C9D1;
    border-radius: 10px;
}

.recentPost  img{
    height: 257px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.recentPost .title{
    font-weight: 400;
    font-size: 32px;
    padding: 16px;
}

.listPost .date{
    margin-left: 16px;
}



